* {
  font-family: Arial, Helvetica, sans-serif;
  color: #464649;
}

#container {
  width: auto;
  height: 100%;
  background-color: rgb(248, 240, 229);
  padding: 17.5%;
  text-align: center;
  align-content: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.center-text {
  text-align: center;
  align-content: center;
}

.btn {
  min-width: 150px;
  width: 15%;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 25px;
  cursor: pointer;
}

.btn-inc {
  background-color: rgb(54, 252, 120);
  border: 2px solid rgb(27, 126, 60);
}

.btn-dec {
  background-color: rgb(250, 78, 78);
  border: 2px solid rgb(112, 36, 36);
}

.btn-reset {
    background-color: #c8c8cf;
}